@font-face {
  font-family: 'AlQalamTajNastaleeqR';
  src: url("../fonts/ATNR.eot");
  src: url("../fonts/ATNR.eot") format("embedded-opentype"), 
       url("../fonts/ATNR.woff") format("woff"), 
       url("../fonts/ATNR.ttf") format("truetype"), 
       url("../fonts/ATNR.svg") format("svg");
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}